.App {
  /* text-align: center; */
}

/* .divi {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
  /* overflow: auto;
  border-color: #04AA6D;
  border-style: double;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center; */
  /* font-size: 13px; */
/* }  */

*/

h1 {
  color: aquamarine;
  font-size: 19px;
  }

p {
  font-size: 32px;
  color: #5e3092;
  margin: 0;
  letter-spacing: 0.5px;
  font-weight: 900;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima; 
}

.App-header {
  /* background-color: #dedede; */
  min-height: 93.5vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* font-size: calc(5px + 1.5vmin); */
  /* color: white; */
  position: fixed;
  bottom: 1;
  right: 1;
}

.div-table {
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
 
th {
  color:#ffffff;
  background-color: #007bff;
  border-bottom: 2px solid #9ea7af;
  border-right: 1px solid #9ea7af;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
 
th:last-child {
  border-top-right-radius: 15px;
  border-right:none;
  
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background: #FFFFFF;
  padding: 12px;
  text-align: left;
  vertical-align: middle;
  font-weight: 200;
  font-size: 14px;
  border-right: 1px solid #C1C3D1;
}

.div-table {
  margin-left: 16%;
  margin-top: 29%;
}


.divi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #6e29f8;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* background-image: url('process.env.PUBLIC_URL + "/AIBanner.png"'); */
}

h1 {
  font-size: 26px;
  color: #a7f4f8;
  margin: 0;
  letter-spacing: 2px;
  /* font-weight: 600; */
  transition: all 0.3s ease-in-out;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima; 
}

h1:hover {
  color: #9dff00;
}