.chatbot {
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 175%;
    margin-right: 50%;
    margin-top: 5%;
    margin-bottom: 70%
  }
  
  .chat-window {
    height: 600px;
    padding: 10px;
    overflow-y: scroll;
    background-color: rgb(240, 240, 240);
  }
  
  .message {
    margin: 2px;
    padding: 15px;
    border-radius: 12px;
    max-width: 410px;  
    margin-left: 25px;
    word-wrap: break-word;
  }
  
  .message-tex {
    font-size: 13px;
    line-height: 1.5;
  }
  
  .message-timestamp {
    font-size: 9px;
    margin-top: 5px;
  }

  .user .message-timestamp{
    margin-right: 20px;
  }
  
  .user {
    background-color: #5b6892;
    /* align-self: flex-end; */
    text-align: right;
    color: white;
    margin-top: 18px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  
  .bot {
    background-color: #afafaf;
    /* align-self: flex-start; */
    text-align: left;
    border-bottom-left-radius:40px;
    border-bottom-right-radius: 40px;
  }
  
  .input-form {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    
  }
  
  input[name="chat-input"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  button[type="submit"] {
    border: none;
    background-color: #6e29f8;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1%;
  }
  
  button[type="submit"]:hover {
    background-color: #6f49b4;
  }
  
  button[type="reset"] {
    border: none;
    background-color: #f01758;
    color: #fff;
    padding: 8px 23px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
  }
  
  button[type="reset"]:hover {
    background-color: #9c395b;
  }
  .chat-head {
    background-color: #f8f8f8;
    align-items: center;
  }

  .chatWindLogo {
    content:url(C:\Users\ahmed\Documents\Github\Web\_ChatBotAssistance\frontend\public\chatbott.png);
    width: 50px;
    height: 50px;
    margin-left: 42%;
  }

  .bot-avatar{
    float: left;
    content:url(C:\Users\ahmed\Documents\Github\Web\_ChatBotAssistance\frontend\public\chatbot.png);
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    margin-bottom: 30%;
  }

  .user-avatar{
    float: right;
    content: url(C:\Users\ahmed\Documents\Github\Web\_ChatBotAssistance\frontend\public\user1.png);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-bottom: 2%;
  }
