.App {
  /* text-align: center; */
  background-color: rgb(231, 227, 232);
}

.divi {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
  overflow: auto;
  border-color: #04AA6D;
  border-style: double;
  text-align: center;
}

h1 {
  color: aquamarine;
  }

.App-link {
  color: #61dafb;
}
