.App {
  /* text-align: center; */
}

.divi {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
  overflow: auto;
  border-color: #04AA6D;
  border-style: double;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  /* font-size: 13px; */
}

h1 {
  color: aquamarine;
  font-size: 19px;
  }

  .App-header {
    background-color: #dedede;
    min-height: 93.5vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* font-size: calc(5px + 1.5vmin); */
    /* color: white; */
  }

  