.chatbot {
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    border: 1px solid #cecece;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 195%;
    margin-right: 50%;
    margin-top: 0%;
    margin-bottom: 70%
  }
  
  .chat-window {
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
    background-color: rgb(240, 240, 240);
  }
  
  .message {
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    max-width: 300px;
  }
  
  .message-text {
    font-size: 12px;
    line-height: 1.5;
  }
  
  .message-timestamp {
    font-size: 9px;
    margin-top: 5px;
  }
  
  .user {
    background-color: #e5f4ff;
    /* align-self: flex-end; */
    text-align: right;
  }
  
  .bot {
    background-color: #f8f8f8;
    /* align-self: flex-start; */
    text-align: left;

  }
  
  .input-form {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    
  }
  
  input[name="chat-input"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  button[type="submit"] {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  .chat-head {
    background-color: #f8f8f8;
    align-items: center;
  }

  img {
    width: 50px;
    height: 50px;
    margin-left: 42%;
  }
