<!DOCTYPE html>
<html>
  <head>
    <title>Server Status</title>
    <style>
     
      body {
        background-color: #dedede;
      }

      .container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
      }
      
      h1 {
        font-size: 4em;
        color: #4CAF50;
      }
      
      p {
        font-size: 2em;
        color: #555;
      }
    </style>
  </head>
  <body >
    <div class="container">
      <h1>Server is running smoothly!</h1>
      <p>All systems are functioning properly.</p>
    </div>
  </body>
</html>